html{
    background-color: yellow;
    display: flex;
}


.mobile,
.tablet,
.pc{
    margin: auto;
    font-size: 100px;
    color: #fff;
    display: none;
}

/* Mobile: width < 740px */ 
/* @media only screen and (max-width: 739px){
    .mobile{
        display: block;
    }
} */

@media only screen and (max-width: 46.1875em){
    .mobile{
        display: block;
    }
}

/* Tablet: width >= 740px and width < 1024px */
/* @media only screen and (min-width: 740px) and (max-width: 1023px){
    .tablet{
        display: block;
    }
} */

@media only screen and (min-width: 46.25em) and (max-width: 63.9375em){
    .tablet{
        display: block;
    }
}

/* PC: width >= 1024px */
@media only screen and (min-width: 64em){
    .pc{
        display: block;
    }
}
